@import "../vars.scss";
.space {
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    &__left,
    &__right {
        width: 48%;
    }
    &__left {
        &--51 {
            width: 51%;
        }
    }
    &__right {
        &--46 {
            width: 46%;
        }
    }
    &__img {
        img {
            width: 100%;
            display: block;
        }
    }
    &__desc {
        font-size: 18px;
        max-width: 540px;
        p {
            font-size: inherit;
        }
    }
    &__subtitle {
        font-weight: 700;
        font-size: 28px;
        line-height: 125%;
        &--mt38 {
            margin-top: 38px;
            width: 48%;
        }
        &--mb48 {
            margin-bottom: 48px;
        }
    }
    &__link {
        display: block;
        margin-top: 100px;
        text-decoration: underline;
    }
    &__rules {
        margin-top: 25px;
        display: block;
        text-decoration: underline;
    }
}

.sale-condition {
    margin-top: 95px;
    max-width: 670px;
    &__desc {
        max-width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .space {
        &__inner {
            display: block;
            margin-top: 30px;
        }
        &__left,
        &__right {
            width: 100%;
        }
        &__left {
            max-width: 500px;
            margin-bottom: 30px;
        }
        &__subtitle {
            font-size: 22px;
            &--mt38 {
                margin-top: 20px;
                width: 100%;
                max-width: 500px;
            }
            &--mb48 {
                margin-bottom: 24px;
            }
        }
    }
    .sale-condition {
        margin-top: 50px;
    }
}