<div class='container'>
    <div class="consult__title display2">@@title</div>
    <form class='consult__form'>
        <fieldset class='mfg'>
            <input type='text' placeholder="Ваше имя" />
        </fieldset>
        <fieldset class='mfg'>
            <input type='tel' placeholder="Телефон" />
        </fieldset>
        <fieldset class='mfg'>
            <input type='email' placeholder="E-mail" />
        </fieldset>
        <fieldset class='mfg consult__full14'>
            <input type='text' placeholder="Ваши пожелания" />
        </fieldset>
        <fieldset class='mfg'>
            <input type='text' placeholder="С" class="date-field" />
        </fieldset>
        <fieldset class='mfg'>
            <input type='text' placeholder="До" class="date-field" />
        </fieldset>
        <button class="consult__btn arrow-btn">
            <span>Забронировать</span>
            <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 7L-6.52532e-07 13.9282L-4.68497e-08 0.0717959L12 7Z" fill="white"></path>
            </svg>
        </button>
    </form>
</div>