<div class='container'>
    <div class='footer__inner'>
        <div class="footer__col">
            <div class="footer__links">
                <a href="" class="footer__link">Карьера в ОК "Ватутинки"</a>
                <a href="" class="footer__link">Правовая информация</a>
                <div class="footer__socials">
                    <a href="" class="footer__socials-item">
                        <img src="img/vk.svg" alt="">
                    </a>
                    <a href="" class="footer__socials-item">
                        <img src="img/glass.svg" alt="">
                    </a>
                    <a href="" class="footer__socials-item">
                        <img src="img/instagram.svg" alt="">
                    </a>
                    <a href="" class="footer__socials-item">
                        <img src="img/fb.svg" alt="">
                    </a>
                </div>


            </div>
        </div>
        <div class="footer__col">
            <a href="" class="footer__logo">
                <div class="footer__logo-icon"></div>
                <div class="footer__logo-text">Управление делами Президента Российской Федерации</div>
            </a>
        </div>
        <div class="footer__col">
            <div class="footer__info">
                <div class="footer__info-item">108818, г. Москва, поселение Десеновское, ул. Чароитовая, владение 5, строение 1</div>
                <div class="footer__info-item">GPS-координаты: 55.516183, 37.336690 </div>
                <div class="footer__info-item">e-mail: bronirovanie@ok-vatutinki.ru</div>
            </div>
        </div>
    </div>
</div>