<div class='container'>
    <div class='header__inner'>
        <button class="header__burger">
            <span></span>
            <span></span>
            <span></span>
       </button>
        <div class="menu">
            <div class="container">
                <div class="menu__grid">
                    <div class="menu__group">
                        <div class="menu__title">Об отеле</div>
                        <div class="menu__links">
                            <a href="" class="menu__link">О нас</a>
                            <a href="" class="menu__link">Территория</a>
                            <a href="" class="menu__link">Отзывы</a>
                        </div>
                    </div>
                    <div class="menu__group">
                        <div class="menu__title">Номера</div>
                        <div class="menu__links">
                            <a href="" class="menu__link">Главный</a>
                            <a href="" class="menu__link">Спа</a>
                            <a href="" class="menu__link">Коттеджи</a>
                        </div>
                    </div>
                    <div class="menu__group">
                        <div class="menu__title">Мероприятия</div>
                        <div class="menu__links">
                            <a href="" class="menu__link">Залы</a>
                            <a href="" class="menu__link">Частные</a>
                        </div>
                    </div>
                    <div class="menu__group">
                        <div class="menu__links">
                            <a href="" class="menu__link">Рестораны</a>
                            <a href="" class="menu__link">МЕДиСПА</a>
                            <a href="" class="menu__link">Спорт</a>
                        </div>
                    </div>

                    <div class="menu__group">
                        <div class="menu__links">
                            <a href="" class="menu__link">Контакты</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <a href="" class="header__logo">
            <img src="img/logo.webp" alt="">
        </a>
        <a href="tel:+74952768808" class="header__phone">+7 (495) 276-88-08</a>
    </div>
</div>